<!-- Register View -->
<div class="container-login">
    <span>Đăng ký</span>
    <form method="POST" action="/auth/register">
        <div class="login">
            <input name="email" type="text" placeholder="Email" required />
            <input name="name" type="text" placeholder="Tên của bạn" required />
            <input name="password" type="password" placeholder="Mật khẩu" required />
            <button id="login-button" type="submit">Đăng ký</button>
        </div>
    </form>


    <div class="flash-container">
        {{#if success_msg}}
        <div class="flash-message success">{{success_msg}}</div>
        {{/if}}
        {{#if error_msg}}
        <div class="flash-message error">{{error_msg}}</div>
        {{/if}}
    </div>
    <div class="link-container">
        {{#if user}}
        <a href="/profile">
            <i class="fa fa-user-circle"></i> {{user.name}}
        </a> ·
        <a href="/auth/logout">Đăng xuất</a>
        {{else}}
        <a href="/auth/login">Đăng nhập</a>
        {{/if}}
    </div>
</div>