<div class="container-login">
    <span>Đăng ký</span>
    <form action="/auth/register" method="POST">
        <div class="login">
            <input type="email" placeholder="Email" required />
            <input name="name" type="text" placeholder="Tên của bạn" required />
            <input type="password" placeholder="Mật khẩu" required />
            <button id="login-button" type="submit">Đăng ký</button>
        </div>
    </form>
    <div class="link-container">
        <a href="/auth/login">Đăng nhập</a> ·
    </div>
</div>