<div class="footer">
    <div class="footer-content">
        <p>๐ Tแบกi sao nรชn ฤแบทt vรฉ eSports tแบกi LoLTickets?</p>
        <ul>
            <li>Vรฉ chรญnh thแปฉc cho cรกc giแบฃi ฤแบฅu hรng ฤแบงu nhฦฐ LCK, LCP, MSI, World,...</li>
            <li>Hรฌnh แบฃnh chแบฅt lฦฐแปฃng cao, lแปch thi ฤแบฅu cแบญp nhแบญt liรชn tแปฅc</li>
            <li>Trแบฃi nghiแปm ฤแบทt vรฉ mฦฐแปฃt mร, hแป trแปฃ thanh toรกn online nhanh chรณng: Momo, VNPAY</li>
            <li>Dแป dรng theo dรตi vรฉ ฤรฃ ฤแบทt, kiแปm tra mรฃ QR, nhแบญn thรดng bรกo lแปch thi ฤแบฅu.</li>
        </ul>
    </div>
    <a href="https://www.facebook.com/huy.tran.gia.836849" target="_blank" class="fb-link"></a>
</div>
</div>