<div class="header shadow-sm">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <!-- NAVIGATION -->
            <ul id="nav" class="d-flex align-items-center m-0 p-0 ms-3">
                <li><a id="home" class="nav-link bebas-font" href="/">ESPORTS</a></li>
                <li><a class="nav-link" href="#">Sự Kiện</a></li>
                <li><a class="nav-link" href="#">Chúng tôi là ai</a></li>
            </ul>

            <!-- LOGIN BUTTON -->
            <a href="/" class="btn btn-danger me-3" style="border-radius: 8px;">Đăng nhập</a>
        </div>
    </div>

</div>