<div class="header shadow-sm">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <!-- NAVIGATION -->
            <ul id="nav" class="d-flex align-items-center m-0 p-0 ms-3">
                <li><a id="home" class="nav-link bebas-font" href="/">ESPORTS</a></li>
                <li><a class="nav-link" href="#">Sự Kiện</a></li>
                <li><a class="nav-link" href="#">Chúng tôi là ai</a></li>
            </ul>

            <!-- USER ACTION -->
            {{#if user}}
            <div class="user-dropdown">
                <button class="user-toggle" onclick="toggleDropdown()">
                    <i class="fa fa-user-circle"></i> {{user.name}}
                </button>
                <ul id="dropdown-menu" class="dropdown-menu-custom">
                    <li><a href="/user/profile">Trang cá nhân</a></li>
                    <li><a href="/auth/logout">Đăng xuất</a></li>
                </ul>
            </div>
            {{else}}
            <a href="/auth/register" class="btn btn-danger me-3" style="border-radius: 8px;">Đăng ký</a>
            {{/if}}
        </div>
    </div>
</div>